<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hmpzd.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hmpzd.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hmpzd</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$hmpzd</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HMPZDDB" Order="1" Enabled="False">
          <Destination Path="Data Source=sys1dev.database.windows.net;Initial Catalog=hmpdev;Persist Security Info=True;User ID=srp-sys1;Password=CE6XwEc2AinP;Application Name=EntityFramework" Name="Data Source=sys1dev.database.windows.net;Initial Catalog=hmpdev;Persist Security Info=True;User ID=srp-sys1;Password=CE6XwEc2AinP;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HMP_ZD.Models.HMPZDDB, HMP-ZD" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HMPZDDB-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.HMPZDModel.csdl|res://*/Models.HMPZDModel.ssdl|res://*/Models.HMPZDModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sys1dev.database.windows.net;Initial Catalog=hmpdev;Persist Security Info=True;User ID=srp-sys1;Password=CE6XwEc2AinP;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>