@{
    ViewBag.Title = "管理者トップ";
    ViewBag.Header = HeaderMenu.Admin;
}
<div class="cotent-inner02 mt-20">
    <div class="p-20 dsp-t bg-st-50 w-800 ta-c">
        <div class="dsp-tc">
            <ul>
                <li><a href="/Admin/Information" class="btn-st btn-large">お知らせ一覧</a></li>
                <li class="mt-20"><a href="/Admin/Team" class="btn-st btn-large">チーム担当者一覧</a></li>
                <li class="mt-20"><a href="/Admin/Adtype" class="btn-st btn-large">広告種類一覧</a></li>
                <li class="mt-20"><a href="/Admin/Accuracy" class="btn-st btn-large">ステータス一覧</a></li>
            </ul>
        </div>
        <div class="dsp-tc">
            <ul>
                <li><a href="/Admin/Exclusion" class="btn-st btn-large">破産・倒産条件一覧</a></li>
                <li class="mt-20"><a href="/Admin/ExclusionData" class="btn-st btn-large">破産・倒産一覧</a></li>
                <li class="mt-20"><a href="/Admin/CustomerLog" class="btn-st btn-large">得意先検索ログ</a></li>
                <li class="mt-20"><a href="/Admin/Number" class="btn-st btn-large">HEN取り込み件数</a></li>
            </ul>
        </div>
        <div class="dsp-tc">
            <ul>
                <li><a href="/Admin/User" class="btn-st btn-large">ユーザー一覧</a></li>
                <li class="mt-20"><a href="/Admin/Control" class="btn-st btn-large">データ制御管理一覧</a></li>
            </ul>
        </div>
    </div>
</div>