@{
    Layout = null;
}
<div class="mdl w-960">
    <div class="mdl-btn-close"><a href="#" class="jsClose"><i class="fa fa-fw fa-close"></i></a></div>
    <div class="txt-h">表示項目追加</div>
    <div class="mdl-content">
        <div class="dsp-t">
            <div class="dsp-tc">
                <label><input type="checkbox" name="display_line" />HEN受付状況</label><br>
                <label><input type="checkbox" name="display_line" />媒体社申込状況</label><br>
                <label><input type="checkbox" name="display_line" />担当T</label><br>
                <label><input type="checkbox" name="display_line" />担当部</label><br>
                <label><input type="checkbox" name="display_line" />発売月</label><br>
                <label><input type="checkbox" name="display_line" />発売日</label><br>
                <label><input type="checkbox" name="display_line" />掲載開始日</label><br>
                <label><input type="checkbox" name="display_line" />掲載終了日</label><br>
            </div>
            <div class="dsp-tc">
                <label><input type="checkbox" name="display_line" />媒体社</label><br>
                <label><input type="checkbox" name="display_line" />ビークル名</label><br>
                <label><input type="checkbox" name="display_line" />iメディア媒体社</label><br>
                <label><input type="checkbox" name="display_line" />広告主</label><br>
                <label><input type="checkbox" name="display_line" />件名</label><br>
                <label><input type="checkbox" name="display_line" />純広告：面</label><br>
                <label><input type="checkbox" name="display_line" />純広告：色</label><br>
                <label><input type="checkbox" name="display_line" />純広告：ページ</label><br>
                <label><input type="checkbox" name="display_line" />タイアップ：面</label><br>
                <label><input type="checkbox" name="display_line" />タイアップ：色</label><br>
                <label><input type="checkbox" name="display_line" />タイアップ：ページ</label><br>
                <label><input type="checkbox" name="display_line" />仕様</label><br>
                <label><input type="checkbox" name="display_line" />媒体社</label><br>
                <label><input type="checkbox" name="display_line" />納品日</label><br>
            </div>
            <div class="dsp-tc">
                <label><input type="checkbox" name="display_line" />掲載料(G)</label><br>
                <label><input type="checkbox" name="display_line" />掲載料(料率)</label><br>
                <label><input type="checkbox" name="display_line" />掲載料(N)</label><br>
                <label><input type="checkbox" name="display_line" />制作費(G)</label><br>
                <label><input type="checkbox" name="display_line" />制作費(料率)</label><br>
                <label><input type="checkbox" name="display_line" />制作費(N)</label><br>
                <label><input type="checkbox" name="display_line" />媒体収益（N)</label><br>
                <label><input type="checkbox" name="display_line" />引渡建値(G)</label><br>
                <label><input type="checkbox" name="display_line" />戦略原価B(N)</label><br>
                <label><input type="checkbox" name="display_line" />媒体支払額(N)</label><br>
                <label><input type="checkbox" name="display_line" />原価項目</label><br>
                <label><input type="checkbox" name="display_line" />売上金額</label><br>
                <label><input type="checkbox" name="display_line" />支払原価計</label><br>
                <label><input type="checkbox" name="display_line" />営収額</label><br>
                <label><input type="checkbox" name="display_line" />営収率</label><br>
            </div>
            <div class="dsp-tc">
                <label><input type="checkbox" name="display_line" />作成者</label><br>
                <label><input type="checkbox" name="display_line" />作成日</label><br>
                <label><input type="checkbox" name="display_line" />更新日</label><br>
            </div>
        </div>
        <div class="ta-c pt-20"><a href="#" class="btn-ok btn-normal mdl-btn-cancel jsOk">登録</a><a href="#" class="btn-hk btn-normal mdl-btn-cancel ml-20 jsClose">キャンセル</a></div>
    </div>
</div>

