<script src="~/Scripts/popup/file.js"></script>
<div id="file_popup">
    <div class="mdl w-600">
        <div class="mdl-btn-close"><a><i class="fa fa-fw fa-close"></i></a></div>
        <div class="txt-h">ファイル 選択</div>
        <div class="mdl-content">
            <table class="tbl w-full">
                <colgroup>
                    <col style="auto">
                </colgroup>
                <tr><td><input class="w-full" type="file" id="FileUpload"></td></tr>
            </table>
        </div>
        <div class="ta-c pt-20"><a class="btn-ok btn-normal mr-20">追加</a><a class="btn-hk btn-normal mdl-btn-cancel">キャンセル</a></div>
    </div>
</div>