<h2 class="ttl-h2 tgl-btn">アクセス権一覧</h2>
<div class="tgl-box box-scroll">
	<table class="tbl w-full">
		<colgroup>
			<col style="width:200px;">
			<col style="width:auto;">
			<col style="width:auto;">
			<col style="width:120px;">
		</colgroup>
		<tr>
			<th>ユーザ名</th>
			<th>部署</th>
			<th>メールアドレス</th>
			<th>権限</th>
		</tr>
		<tr>
			<td>白鳳&#12288;太郎</td>
			<td>博報堂DYMP雑誌局業務推進二部</td>
			<td><a href="mailto:tarou.hakuho@hakuhoudody-holdings.co.jp">tarou.hakuho@hakuhoudody-holdings.co.jp</a></td>
			<td>雑誌1部<br>雑誌2部<br>雑誌3部<br>業務推進部<br>雑誌進行部<br>局長席<br></td>
		</tr>
		<tr>
			<td>×××××××</td>
			<td>×××××××</td>
			<td></td>
			<td>局長席<br>管理者<br></td>
		</tr>
	</table>
</div>
