<h2 class="ttl-h2 tgl-btn">更新情報メール</h2>
<div class="tgl-box mb-20">
	<div class="mt-5 mb-5">
		<h3><label><input type="checkbox" />更新情報をメールで知らせる</label></h3>
	</div>
	<table class="tbl w-full">
		<colgroup>
			<col style="width:150px;">
		</colgroup>
		<tr><th class="ta-l">送信先</th>
			<td>
				<button class="overlay" data-href="user_popup.html">選択</button><br>
				会社名 部門グループ 部門 部署 ユーザー名 <a href="#"><i class="fa fa-lg fa-fw fa-times"></i></a><br>
				会社名 部門グループ 部門 部署 ユーザー名 <a href="#"><i class="fa fa-lg fa-fw fa-times"></i></a><br>
			</td>
		</tr>
		<tr><th class="ta-l">タイトル</th><td><input type="text" class="w-600"></td></tr>
		<tr><th class="ta-l">本文</th><td><textarea placeholder="メール本文に追加するコメントを入力してください" class="w-600"></textarea></td></tr>
	</table>
</div>
<div class="mt-20">
	<span class="cl-ok-700"><i class="fa fa-lg fa-fw fa-exclamation-circle"></i>関係者にメールが送信されます</span><br>
</div>
