<div id="url_popup">
    <div class="mdl w-800">
        <div class="mdl-btn-close"><a href="#"><i class="fa fa-fw fa-close"></i></a></div>
        <h2 class="ttl-h2">URL共有</h2>
        <table class="tbl w-full">
            <colgroup>
                <col style="width:auto;">
            </colgroup>
            <tr>
                <td>
                    http://example.com/index.html
                </td>
            </tr>
        </table>
        <div class="ta-c mt-20">
            <a href="#" class="btn-ok btn-large mt-10 mr-20">クリップボードへコピー</a><a href="mailto:" class="btn-ok btn-large mt-10 mr-20">メール送信</a><a href="#" class="btn-hk btn-large mdl-btn-cancel mt-10">キャンセル</a>
        </div>
    </div>
</div>