
<!DOCTYPE HTML>
<html lang="ja-JP">
<head>
	<meta charset="UTF-8">
	<title>チーム担当一覧 | 管理者ページ | 雑誌局電子台帳</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="css/style.css" />
	<script charset="utf-8" type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
	<script charset="utf-8" type="text/javascript" src="js/plugins.js"></script>
	<script charset="utf-8" type="text/javascript" src="js/select2.js"></script>
	<script charset="utf-8" type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript">
	$(function(){
		$('tr[data-href]').click(function() {
			window.location = $(this).attr("data-href");
		});
	});
	</script>
</head>
<body id="home">
<header id="header">
	<div id="txt-h1"><a href="index.html">雑誌局電子台帳</a></div>
	<div id="header_user">
		<span class="header_user-name"><i class="fa fa-user" aria-hidden="true"></i>山田 太郎</span>
		<a href="logout.html">ログアウト</a>
	</div>
	<ul>
	<li><a href="index.html">電子台帳</a></li>
	<li><a href="aggregate_index.html">集計</a></li>
	<li><a href="customer_index.html">得意先検索</a></li>
	<li><a href="magsearch_index.html">雑誌検索</a></li>
	<li><a href="schedule_index.html">進行スケジュール</a></li>
	<li><a href="close_index.html">掲載誌申込締切</a></li>
	<li><a href="info_index.html">お知らせ</a></li>
	<li><a href="history_index.html">更新履歴</a></li>
	<li><a href="admin_index.html" class="current">管理者ページ</a></li>
	</ul>
</header>
<main>
<div class="contents">
	<h1 class="ttl-h1">チーム担当一覧</h1>
	<div class="bg-st-50 mt10 mb-10 p-20 pl-40">
		<ul>
			<li>データを登録しました</li>
		</ul>
	</div>
	<ul class="btn-edit-list-top">
		<li><a class="btn-st btn-normal" href="team_new.html">新規登録</a></li>
	</ul>
	<div class="cotent-inner02">
		<div>
			<input type="text" /><a class="btn-hk btn-small ml-5" href="#">検索</a>
		</div>
		<div class="mt-10 pl-10">
			00件見つかりました。
		</div>
		<table class="tbl w-full mt-20 highlight h-stripe-odd">
			<colgroup>
				<col style="width:auto;">
				<col style="width:auto;">
				<col style="width:auto;">
				<col style="width:60px;">
			</colgroup>
			<tr><th>部署</th><th>チーム</th><th>担当者</th><th></th></tr>
			<tr data-href="team_edit.html"><td>テキスト</td><td>テキスト</td><td>テキスト</td><td class="ta-c"><a class="btn-hk btn-small" href="#">削除</a></td></tr>
			<tr data-href="team_edit.html"><td>テキスト</td><td>テキスト</td><td>テキスト</td><td class="ta-c"><a class="btn-hk btn-small" href="#">削除</a></td></tr>
			<tr data-href="team_edit.html"><td>テキスト</td><td>テキスト</td><td>テキスト</td><td class="ta-c"><a class="btn-hk btn-small" href="#">削除</a></td></tr>
		</table>
		<div class="pager">
			<ul>
				<li><a href="#">最初</a></li>
				<li class="prev"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
				<li class="num"><a href="#">1</a></li>
				<li class="num"><a href="#">2</a></li>
				<li class="num current"><a href="#">3</a></li>
				<li class="num"><a href="#">4</a></li>
				<li class="num"><a href="#">5</a></li>
				<li class="next"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
				<li><a href="#">最後</a></li>
			</ul>
			<div class="mt-5 ta-c">
				00000件中 00件-00件
			</div>
		</div>
		<div class="btn-back">
			<a href="admin_index.html"><i class="fa fa-lg fa-fw fa-chevron-left"></i>戻る</a>
		</div>
	</div>
</div>
</main>
</body>
</html>

